db.sqlite3
/museuapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/__pycache__/*
/apps/products/__pycache__/*
/apps/products/migrations/__pycache__/*
/apps/clients/__pycache__/*
/apps/clients/migrations/__pycache__/*
/apps/artes/__pycache__/*
/apps/artes/migrations/pycache/*
/apps/historia/__pycache__/*
/apps/historia/migrations/__pycache__/*
/apps/core/__pycache__/*
/apps/core/migrations/__pycache__/*