db.sqlite3
__pycache__
*__pycache__*
/__pycache__/*
*/__pycache__/*
*.py[cod]
*$py.class
*.pyc
*.DS_Store
/categories/__pycache__/*
/categories/migrations/*
/products/__pycache__/*
/products/migrations/*
/clients/__pycache__/*
/clients/migrations/*
/artes/__pycache__/*
/artes/migrations/*
/historia/__pycache__/*
/historia/migrations/*
/artistas/__pycache__/*
/artistas/migrations/*
/core/__pycache__/*
/core/migrations/*