{% extends 'base.html' %}

{% block title %}

    Lista de Valores - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Valores</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'valores:add_valor' %}">Cadastro de novos valores</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id Arte</th>
                    <th scope="col">Valores</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for valor in valores %}
                        <tr>
                            <th scope="row">{{ valor.id }}</th>
                            <td>{{ valor.idarte }}</td>
                            <td>{{ valor.valor }}</td>
                            <td>
                                <a href="{% url 'valores:edit_valor' valor.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'valores:delete_valor' valor.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}