{% extends 'base.html' %}

{% block title %}

    Lista de Historias - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Historias</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'historias:add_historia' %}">Cadastro de nova Historia</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for historia in historias %}
                        <tr>
                            <th scope="row">{{ historia.id }}</th>
                            <td>{{ historia.name }}</td>
                            <td>{{ historia.description }}</td>
                            <td>
                                <a href="{% url 'historias:edit_historia' historia.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'historias:delete_historia' historia.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}