{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block body %}

<div style="padding: 8rem;">
  <h1 class="py-4">Artes em esposição:</h1>

  <div class="d-flex">
  {% for arte in artes %}
    <div class="card" style="width: 18rem; padding: 20px; flex: 0 0 calc(33.3333% - 20px); max-width: calc(33.3333% - 20px); margin-bottom: 20px;">
      <img class="card-img-top" src={{ arte.url }} alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">{{ arte.name }}</h5>
        <p class="card-text">{{ arte.description }}</p>
        <a href="{% url 'artes:view_arte' arte.id %}" class="btn btn-primary">Ver Mais sobre a Arte</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<style>
  .d-flex {                   
    display: flex;
    flex-wrap: wrap; /* Garante que os cards quebrem para a próxima linha se não couberem na tela */  /* d-flex = para ficar um do lado do outro(imagens)
    gap: 20px; /* Espaçamento entre os cards */
  }
</style>


{% endblock body %}